@if (!permissionGranted()) {
<app-permission-screen (requestPermission)="onPermissionRequest()"></app-permission-screen>
} @else if (locationError()) {
<div class="app-container h-100 w-100 position-relative d-flex align-items-center justify-content-center">
  <div class="error-message">
    {{ locationError() }}
  </div>
</div>
} @else {
<app-header></app-header>

<div class="app-container h-100 w-100 position-relative">
  <div #map class="map h-100"></div>

  <app-location-buttons
    [hasCurrentLocation]="hasCurrentLocation()"
    [hasSavedLocation]="hasSavedLocation()"
    [savedLocation]="savedLocation()"
    (saveLocationClick)="saveLocation()"
    (recoverLocationClick)="redirectToGoogleMaps($event)">
  </app-location-buttons>
</div>
}
